<div class="row d-flex justify-content-center">
  <div class="col-4">
    <h1>Editing employee</h1>
    
    <%= render "form", employee: @employee %>
    
    <br>
    
    <div>
      <%= link_to "Show this employee", @employee %> |
      <%= link_to "Back to employees", employees_path %>
    </div>
  </div>
</div>
