<div class="row d-flex justify-content-center">
  <div class="col-10">
    <p style="color: green"><%= notice %></p>

    <h1 class="title">Employees</h1>

    <div id="employees">
      <%= render partial: "shared/employees_table", locals: {employees: @employees} %>
    </div>

    <%= link_to "New employee", new_employee_path %>
  </div>
</div>
