option{
  height: 40px
}

.title {
  text-align: center;
}

h1, h2, h3{
  text-align: center;
}


.emp-left{
}

.emp-right{
  text-align: right;
}

.btn{
  margin: 10px;
}

.form-control{
  margin: 3px
}
nav.pagination{
  justify-content: flex-start;
  gap: 10px;
}

